body {
  background-color: #F4BB2D !important;
}
 
 

.mainBg{
  margin-top:10%;
}
 

.leaflet-container {
  height: 600px;
}
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  }

  .margin-10px{
    margin-top: 10px;
  }


  .headerText{
    background: black;
    color: white;
    padding: 12px;
    border-radius: 20px;
  }